.Headingtitle{
    color: #4C7C04;
    font-family: "Philosopher";
    font-size: 2rem;
    @media (max-width:765px) {
          font-size: 1.7rem;
    }
    @media (max-width:667px) {
          font-size: 1.4rem;
    }
    @media (max-width:361px) {
          font-size: 1rem;
    }
}