.HeaderContainer{
      display: flex;
      justify-content: space-between;
      width: 95%;
      @media (max-width:1200px) {
            margin-left: 16px;
      }
}
.HeaderIcons{
      display: flex;
      gap: 30px;
      @media (max-width:600px) {
            gap: 20px;
      }
      @media (max-width:400px) {
            gap: 10px;
      }
}

.HeaderIcon{
      background-color: #F3FFE2;
      color: #B2C793;
      border:  1px solid #B2C793;
      border-radius: 2px;
      height: 3.5vh;
      width: 2.2vw;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
            height: 2.7vh;
            width: 2vw;
      }
      @media (max-width:1200px) {
           height: 3.8vh;
           width: 2.6vw; 
      }
      @media (max-width:1130px) {
            height: 4vh;
            width: 2.9vw; 
       }
      @media (max-width:955px) {
            height: 4.3vh;
            width: 3.4vw;
      }
      @media (max-width:800px) {
            height: 4.2vh;
            width: 3.7vw;
      }
      @media (max-width:749px) {
            height: 4.2vh;
            width: 4.4vw;
      }
      @media (max-width:600px) {
            height: 4.2vh;
            width: 4.9vw;
      }
      @media (max-width:500px) {
            img{
                  height: 3vh;
                  width: 3vw;
            }
      }
      @media (max-width:450px) {
            width: 5.9vw;
      }
      @media (max-width:400px) {
            img{
                  height: 3.7vh;
                  width: 3.7vw;
            }
      }
      @media (max-width:370px) {
            width: 6.6vw;
            
      }
}

.Headingtitle{
    color: #4C7C04;
    font-family: "Philosopher";
    font-size: 2rem;
    @media (max-width:765px) {
          font-size: 1.7rem;
    }
    @media (max-width:667px) {
          font-size: 1.4rem;
    }
    @media (max-width:361px) {
          font-size: 1rem;
    }
}