.Container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.upperContainer{
    width: 90%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Headingtitle{
        color: #4C7C04;
        font-family: "Philosopher";
        font-size: 2rem;
    }
    @media (max-width:1200px) {
        width: 97%;
        padding: 0;
        padding-left: 10px;;
        align-items: start;
    }
}
  