.Container{
  display: flex;
  justify-content: center;
  flex: 1;
}
.titlewithsvg{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #558E00;
  font-family: "Crimson";
  font-size: 1.3rem;
  font-weight: 300;

  img{
    width: 20vw;
    height: 17vh;
  }
  @media (max-width:750px) {
    font-size: 1.1rem;
  }
  @media (max-width:500px) {
    img{
      height: 12vh;
    }
    font-size: 1rem;
  }
  @media (max-width:450px) {
    font-size: 15px;
  }
  @media (max-width:400px) {
    height: 14vh;
  }
}