.Container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        background-color: #fafafa;
    }
}
.dishName{
    background-color: #e6f4ec;
    padding: 10px;
    color: #14532d;
    font-weight: bolder;
    font-size: 22px;
  
    @media (max-width: 1000px) {
      font-size: 20px;
    }
  
    @media (max-width: 567px) {
      font-size: 18px;
    }
  
    @media (max-width: 500px) {
      font-size: 16px;
    }
}
.dishDescription{
    padding: 10px;
    @media (max-width: 1000px) {
        font-size: 0.9rem;
      }
    
      @media (max-width: 567px) {
        padding: 10px;
      }
    
      @media (max-width: 500px) {
        font-size: 0.8rem;
      }
}