.LayoutContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(9, 1fr);

    @media (max-width: 1200px) {
        grid-template-columns: 1fr;
    }
}

.NavContainer {
    grid-column: span 1;
    background-color: white;
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1200px) {
        display: none;
    }
}

.MainContainer {
    grid-column: span 8;

    @media (max-width: 1200px) {
        grid-column: span 1;
    }
}

.MobileNavContainer {
    display: none;

    @media (max-width: 1200px) {
        display: block;
        grid-column: span 1;
        color: #166534;
        font-weight: bold;
        padding: 40px;

        svg {
            width: 32px;
            height: 32px;
        }
    }
}
