.LayoutContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    background: radial-gradient(circle, #F3FFE2 0%, #FCFFF7 100%);

    @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

.NavContainer {
    width: 5vw;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0; 

    @media (max-width: 1200px) {
        display: none;
    }
}

.MainContainer {
    flex: 1;
    @media (max-width:1200px) {
        height: 100vh;
        width: 100vw;
    }
    
}
