.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 4rem;

    @media (max-width:1200vw) {
        height: 97vh;
    }
}

.upperContainer{
    width: 90%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    .MenuIcon{
      display: none;
      
    }
    .Headingtitle{
        color: #4C7C04;
        font-family: "Philosopher";
        font-size: 2rem;
        @media (max-width:765px) {
          font-size: 1.7rem;
        }
        @media (max-width:667px) {
          font-size: 1.4rem;
        }
    }
    @media (max-width:1200px) {
        width: 97%;
        padding: 0;
        padding-top: 10px;
        padding-left: 10px;;
        align-items: start;
        .MenuIcon{
          display: block;
          margin-top: 10px;
        }

    }

    @media (max-width:668px) {
      .MenuIcon{
        display: block;
        margin-top: 5px;
      }
    }
   
    @media (max-width:500px) {
      width: 90%;
    }
  .titlewithIcon{
    display: flex;
    align-items: center;
    gap: 10px;
  }
    
}