@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Bungee+Tint&family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Special+Gothic+Expanded+One&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(238, 235, 227);

}

h1,
h2 {
    font-family: 'Big Shoulders', sans-serif;
}

button {
    font-family: 'Winky Sans', sans-serif;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}



*:focus {
    outline: none;
}

@media not all and (hover: none) {
    * {
        ::-webkit-scrollbar {
            width: 8px;
            height: 9px;
            z-index: -1;
        }

        ::-webkit-scrollbar-track {
            background: #dadada;
        }

        ::-webkit-scrollbar-thumb {
            background: #2952cc;
            border-radius: 10px;
            margin: 1px;
            min-height: 40px;
            cursor: grab;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #2952cc;
        }
    }
}

@media (hover: none) and (pointer: coarse) {
    * {
        ::-webkit-scrollbar {
            visibility: hidden;
            width: 1px;
            height: 1px;
        }

        ::-webkit-scrollbar-thumb {
            width: 1px;
            height: 1px;
            min-height: 1px;
        }
    }
}

html {
    scroll-behavior: smooth;
}

.animated-bar {
    animation: growUp 1.5s ease-out forwards;
    transform-origin: bottom;
}

@keyframes growUp {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}