.container {
    width: 100%;
    position: relative;
    font-family: sans-serif;
    color: #15803d;
}

.selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 6px 6px 0 0; // Rounded top only
    font-size: 14px;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    min-width: 100%;
    background-color: white;
    z-index: 9999;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    max-height: 200px;
    overflow-y: auto;
  }
  

.option {
    padding: 10px 14px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
        background-color: #f0f0f0;
    }
}

@media (max-width: 480px) {
    .selected {
        font-size: 13px;
        padding: 8px 12px;
    }

    .option {
        font-size: 13px;
        padding: 8px 12px;
    }
}
