.container {
    width: 100%;
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    color: #15803d;
}

.selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background-color:#daf4b3;
    cursor: pointer;
    border-radius: 6px 6px 0 0; 
    font-size: 14px;
    font-family: "Crimson";
    color: #4C7C04;
}

.dropdown {
    position: absolute;
    top: 100%;
    color: black;
    left: 0;
    width: max-content;
    min-width: 100%;
    background-color: #F2FFDF;
    z-index: 300;
    border-top: none;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    max-height: 200px;
    overflow-y: auto;
  }
  

.option {
    padding: 10px 14px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
        background-color: #f0f0f0;
    }
}

@media (max-width: 480px) {
    .selected {
        font-size: 13px;
        padding: 8px 12px;
    }

    .option {
        font-size: 13px;
        padding: 8px 12px;
    }
}

@media (max-width: 350px) {
    .selected {
        font-size: 12px;
        padding: 8px 12px;
    }

    .option {
        font-size: 13px;
        padding: 8px 12px;
    }
}
