.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    @media (max-width: 1200px) {
      height: 94vh;
    }
    .NotFoundContainer{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: underline;
      color: #15803d;
      font-weight: bolder;
      font-size: 1.2rem;

      @media (max-width:500px) {
        font-size: 1rem;
      }
    }
  }

