.Container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.HeaderContainer{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width:1000px) {
        height: 20%;
    }
    @media (max-width:596px) {
        height: 24%;
    }
}

.MainContainer{
    height: 70%;
    width: 100%;
    @media (max-width:1000px) {
        height: 80%;
    }
    @media (max-width:596px) {
        height: 76%;
    }
}
.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #15803d;; 
}

.NavItem {
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #15803d;;
    font-size: 1.2rem;

    @media (max-width:1000px) {
        font-size: 1rem;
    }

    @media (max-width:500px) {
        font-size: 13px;
    }

    &:hover {
        color: #074e21;; 
    }

    &.active {
        border-color:#043b18;;
        color: #07471f;;
    }
}
