.dishContainer{
    position: absolute;
    left: 0%;
    bottom: 120%;
    width: 150px;
    transform: translateY(-8px);
    color: #568b05;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1.5px solid #B2C793;
    z-index: 10;

    @media (max-width:500px) {
        width: 130px;
    }
   
}
.dish{
    border-bottom: 1px solid #B2C793;
    padding: 10px;
    font-size: 15px;
    &:hover{
        background-color: #f5fbec; 
        border-radius: 8px
    }
    &:nth-child(2){
        border: 0;
    }
    @media (max-width:600px) {
        font-size: 14px;
    }
    @media (max-width:450px) {
        font-size: 13px;
    }
    @media (max-width:400px) {
        font-size: 12px;

    }
}