.dish{
  display: flex;
  flex-direction: column;
}

.dishContainer {
    position: relative;
    height: 30vh;
    width: 26vw;
    border-radius: 10px;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }


    @media (max-width:1200px) {
        width: 28vw;
    }

    @media (max-width:780px) {
        height: 29vw;
        width: 28vw;
    }
    @media (max-width:700px) {
      height: 32vh;
      width: 38vw;
    }
    @media (max-width:500px) {
        height: 32vh;
        width: 40vw;
    }

    @media (max-width:459px) {
      height: 28vh;
      width: 40vw;
    }
    @media (max-width:400px) {
      height: 28vh;
      width: 60vw;
      margin-left: auto;
      margin-right: auto;
    }
}

.foodname {
    color: black;
    font-weight: bolder;
    font-family: "Inter";
    font-size: 1.2rem;
    
    @media (max-width:1000px) {
      font-size: 1.2rem;
    }
    
    @media (max-width:700px) {
      font-size: 1rem;
    }
    @media (max-width:780px) {
      font-size: 0.9rem;
    }
    @media (max-width:500px) {
      font-size: 0.8rem;
    }
    @media (max-width:500px) {
      text-align: center;
    }
   
}
.foodtitle{
  display: flex;
  flex-direction: column;

  @media (max-width:500px) {
    align-items: center;
  }

  :nth-child(1){
    display: flex;
    justify-content: start;
  }
}