.Container{
  flex: 1;
  display: flex;
  flex-direction: column;

}

.titleandsubtitles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  z-index: 50;

  @media (max-width:659px) {
    padding-left: 30px;
    padding-top: 15px;
  }
 
}
.textlabel{
    margin-top: 20px;
    color: #558E00;
    font-family: "Crimson";
    font-weight: 500;
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 10px;
  
  svg{
    display: none;
  }

  @media (max-width:1200px) {
    font-size: 2.9rem;
    margin-top: 0px; 

    svg{
      display: block;
    }
  }
  @media (max-width:1000px) {
    font-size: 2.6rem;
  }
  @media (max-width:765px) {
    font-size: 2.3rem;
  }
  @media (max-width:667px) {
    font-size: 2rem;
  }
  @media (max-width:600px) {
    font-size: 1.7rem;
  }
  @media (max-width:500px) {
    font-size: 1.4rem;
  }
  @media (max-width:360px) {
    font-size: 1.2rem;
  }

}
.subtitle{
  color: #4C7C04;
  font-family: "Inter";
  font-size: 1rem;
  
  @media (max-width:1000px) {
    display: none;
    font-size: 15px;
  }
  
 
 
}
.PopularIndianDishesContainer{
  margin-top: 10px;
  height: 87vh;
  overflow-y: auto;
  
}