.Container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 700;
    background-color: white;
    width: 40vw;
    height: 100vh;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    color: #4C7C04;;

    @media (max-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }
  
  .closeIcon {
    align-self: flex-end;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-bottom: 2rem;
    color: #4C7C04;
  }
  
  .menuItems {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  .menuItem {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.1rem;
    color: #4C7C04;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
  
    &:hover {
      background-color:  #dcf4bc ;
    }
    @media (max-width: 768px) {
      font-size: 0.9rem;
      padding: 0.5rem 0.75rem;
      
    }
  }
  
  .iconWrapper {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .name {
    font-weight: bolder;
  }
  