.LandingContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 80px;
   
}

@media (max-width:1000px) {
    .LandingContainer{
        gap: 40px;
    }
}

@media (max-width:560px) {
    .LandingContainer{
        gap: 20px;
    }
}

// MainLandinConatiner