.HerosectionContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 140px 1rem 2rem 1rem;
}

.TitleandimageConainer {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.TitleContainer {
    flex: 1;
    color: rgb(225, 170, 4);
    font-weight: bold;
    font-size: 45px;
}

.indianfood {
    flex: 1;
    max-width: 400px;
    height: auto;
    margin: auto;
}

.indianfood img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1rem;
}

.lastTitle {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: rgb(225, 170, 4);
    line-height: 1.5;
    max-width: 80vw;
}

@media screen and (max-width: 1124px) {
    .TitleContainer {
        font-size: 32px;
        text-align: center;
    }

    .TitleandimageConainer {
        flex-direction: column;
        align-items: center;
    }

    .indianfood {
        width: 60vw;
    }
}

@media screen and (max-width: 600px) {
    .TitleContainer {
        font-size: 18px;
    }

    .lastTitle {
        font-size: 12px;
    }

    .indianfood {
        width: 75vw;
    }
}