.HerosectionContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.TitleandimageConainer {
    width: 90vw;
    display: flex;
    flex-direction: column;

}

.TitleContainer {
    display: flex;
    justify-content: center;
    color: rgb(225, 170, 4);
    font-weight: bold;
    font-size: 55px;
}

.ImageConatiner {
    display: flex;
    width: 100vw;
}


.indianfood {
    position: relative;
    width: 23vw;
    height: 40vh;
    margin: auto;
}

.indianfood img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media screen and (max-width: 1570px) {

    .indianfood {
        position: relative;
        width: 29vw;
        height: 40vh;
        margin: auto;
    }
}

@media screen and (max-width: 1263px) {

    .indianfood {
        position: relative;
        width: 38vw;
        height: 40vh;
        margin: auto;
    }
}

@media screen and (max-width: 1024px) {

    .TitleContainer {
        font-size: 40px;
    }

    .indianfood {
        position: relative;
        width: 43vw;
        height: 35vh;
        margin: auto;
    }
}

@media screen and (max-width: 750px) {

    .TitleContainer {
        font-size: 20px;
    }

    .indianfood {
        position: relative;
        width: 53vw;
        height: 40vh;
        margin: auto;
    }
}

@media screen and (max-width: 750px) {

    .TitleContainer {
        font-size: 20px;
    }

    .indianfood {
        position: relative;
        width: 69vw;
        height: 40vh;
        margin: auto;
    }
}