.Container {
    display: flex;
    flex-direction: column;
    color: black;
    width: 90%;
    margin: auto;
    gap: 5px;
    text-align: center;
    overflow: hidden;
  }
  
  .ResponsiveContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 600px;
  }
  
  .Title {
    font-size: 40px;
    font-weight: bolder;
    flex: 1;
  }
  
  .ImgContainer {
    width: 24vw;
    flex-shrink: 0;
  }
  
  .ImgContainer img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .description {
    font-size: 1.1rem;
    color:black;
    line-height: 1.6;
    font-weight: bold;
  }

  .GetStatred{
    background-color: #15803d; 
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    margin-top: 20px;
  }

  .Getstarted:hover {
    background-color: #166534;
}
@media (max-width:1400px) {
    .ResponsiveContainer{
        gap: 400px;
    }
}

@media (max-width:1126px) {
    .ResponsiveContainer{
        gap: 300px;
    }
    .Getstarted{
      font-size: 16px;
      padding: 8px;
    }
}
  
  @media (max-width: 1000px) {
    .ResponsiveContainer {
      flex-direction: column;
      gap: 20px;
    }
  
    .ImgContainer {
      width: 30vw;
    }
  
    .Title {
      font-size: 28px;
    }

    .GetStatred{
      font-size: 20px;
    }
  }

@media (max-width:750px) {
   .description{
    font-size: 14px;
   }
}

@media (max-width:600px) {
  .GetStatred{
    font-size: 16px;
  }
}
@media (max-width:409px) {
    .ImgContainer {
        width: 50vw;
      }
    .description{
     font-size: 16px;
    }
 }
 @media (max-width:346px) {
    .description{
     font-size: 10px;
    }
 }