/* Container for the entire header */
.headercontainer {
    width: 90%;
    display: flex;
    margin: auto;
    color: #0f172a; /* Dark slate color for text */
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between; /* Space between logo, links, and button */
    padding: 16px 0;
    font-size: 20px;
    font-weight: bold;
}
.scrolled {
    position: fixed;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: black;
    z-index: 500;
    width: 100%;
    height: 5vh;
    justify-content: space-around;
}
/* Wrapper for logo and text */
.headerlogo {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Logo icon sizing */
.headericon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/* Middle section: nav links */
.middleheadercontainer {
    display: flex;
    align-items: center;
    gap: 60px; /* space between nav items */
    font-size: 20px;
    cursor: pointer;
}

/* CTA button: "Get started" */
.headerbutton {
    background-color: #15803d; /* Green tone */
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

/* Button hover effect */
.header-button:hover {
    background-color: #166534;
}

.MenuIconContainer{
    display: none;
}


@media  (max-width:1200px) {

    .headercontainer{
        font-size: 16px;
    }

    .middleheadercontainer{
        font-size: 16px;
    }
    .headerbutton{
        font-size: 16px;
    }
    
}

@media (max-width:1000px) {
    .middleheadercontainer{
        display: none;
    }

    .headerbutton{
        display: none;
    }
    .MenuIconContainer{
        display: block;
    }

    .MenuIcon{
        height: 4vh;
        width: 4vw;
    }
}
@media (max-width:600px) {
    .MenuIcon{
        height: 5vh;
        width: 5vw;
    }

    .headercontainer{
        font-size: 16px;
    }
    .headericon{
        height: 30px;
        width: 30px;
    }
}
@media (max-width:400px){
    .headercontainer{
        font-size: 13px;
    }
}
