.Container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width:600px) {
    gap: 10px;
    margin-top: 10px;
  }
  @media (max-width:401px) {
    margin-top: 0px;
  }
}

.ingredientsContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (max-width:1200px) {
    padding-left: 25px;
  }
  @media (max-width:880px) {
    gap: 0px;
  }
  @media (max-width:1000px) {
    padding-left: 25px;
  }
  @media (max-width:500px) {
    padding-left: 6px;
  }
}
.ingredientsContainertitle{
  display: flex;
  align-items: center;
  color: #4C7C04;
  font-family: "Philosopher";
  font-size: 1.7rem;
  @media (max-width:1200px) {
    gap: 10px;
  }
  @media (max-width:785px) {
    font-size: 1.5rem;
  }
  @media (max-width:500px) {
    font-size: 1rem;
  }
 
}
.ingredientsSvg{
  height: 5vh;
  width: 4vw;
  @media (max-width:886px) {
    height: 8vh;
    width: 6vw;
  }
  @media (max-width:600px) {
    height: 8vh;
    width: 8vw;
  }
  @media (max-width:500px) {
    height: 8vh;
    width: 8vw;
  }
}
.ingredientsGrid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  padding-left: 30px;
  gap: 30px;
  @media (max-width:1300px) {
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
  }
  
  @media (max-width:880px) {
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
  }
  @media (max-width:500px) {
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding-left: 0px;
  }
  
}
.ingredient{
  color: #4C7C04;
  font-family: "Inter";
  display: flex;
  gap: 10px;
  align-items: center;

  @media (max-width:1000px) {
    font-size: 15px;
  }

  @media (max-width:700px) {
    font-size: 13px;
  }
  @media (max-width:600px) {
    font-size: 12px;
  }
  @media (max-width:370px) {
    font-size: 11px;
  }
}
.Checkbox{
  height: 2.3vh;
  width: 1.6vw;
  background-color: #F2FFDF;
  border: 1px solid #B2C793;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width:1130px) {
    padding: 5px;
  }
  @media (max-width:1000px) {
    width: 2.2vw;
    img{
      height: 2vh;
      width: 1.9vw;
    }
  }
  @media (max-width:733px) {
    width: 2vw;
  }
  @media (max-width:785px){
    height: 2vh;
  }
  @media (max-width:600px){
    height: 1.8vh;
  }
}

.RecipeContainer{
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  gap: 30px;
  padding-left: 20px;
  @media (max-width:1200px) {
    padding-left: 25px;
  }
  @media (max-width:880px) {
    padding-top: 20px;
  }
  @media (max-width:1000px) {
    padding-left: 25px;
    gap: 15px;
  }
  @media (max-width:600px) {
    padding-top: 10px;
    gap: 10px;
  }
  @media (max-width:500px) {
    padding-top: 0px;
    padding-left: 5px;
    gap: 25px;
  }
}

.RecipeContainertitlewithimg{
  display: flex;
  align-items: center;
  color: #4C7C04;
  font-family: "Philosopher";
  font-size: 1.5rem;
  gap: 10px;
  @media (max-width:1200px) {
    gap: 10px;
  }
  @media (max-width:785px) {
    font-size: 1.5rem;
  }
  @media (max-width:500px) {
    margin-top: 10px;
    font-size: 1rem;
    display: flex;
  }
  
}

.recipe{
  color: #4C7C04;
  font-family: "Inter";
  display: flex;
  width: 90%;
  gap: 6px;
  align-items: center;
  padding-left: 30px;
  line-height: 1.5rem;

  @media (max-width:1000px) {
    font-size: 15px;
  }

  @media (max-width:700px) {
    font-size: 13px;
  }
  @media (max-width:600px) {
    font-size: 12px;
  }
  @media (max-width:500px) {
    padding-left: 0px;
  }
  @media (max-width:370px) {
    font-size: 11px;
  }
}
.RecipeContainerSteps{
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width:1000px) {
    gap: 20px;
  }
 
}
.Recipeimg{
  @media (max-width:780px) {
    width: 5vw;
    height: 5vh;
  }
  
}